*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

/* // HEADER// */

header{
    padding-bottom: 20px;
}
 header .container{
    margin: 0px;
    padding: 0;
    width: 100%;
}
header .logo{
    font-size: 1.9rem;
    margin: auto 10px;
    top:10px
}

header hr{
border-top: 2px solid black; 
transform: rotate(90deg);
width: 2.5rem;
margin: 0 5px;
position: relative;
left: 10px;
top: -20px;    
}
.navbar-logo{
    display: flex;
   
}
.navbar{
    padding: 0px 0 0;
    top: 20px;
}
.navbar li{
    display: inline-block;
    margin-right: 10px;
}
.navbar a{
    font-size: 1.1rem;
    
}
.navbar a:hover{
    color: rgb(186,239,255);
    text-decoration: none;
}
.small-menu a{
    font-weight: bolder;
    color: black;
}
.large-menu a{
    color: gray;
}
.language{
    display: flex;
    justify-content: flex-end;
    
}
div.date{
    position: relative;
    left: 200px;
    font-size: smaller;
}

.language select{
    padding: 1px 30px 1px 5px ;
    border-radius: 5px;
    position: relative;
    top:20px;
    
}
/* FIND A PROJECT */
section.find-A-Project{
    background-color: rgb(68,68,68);
    color: #FFF;
    padding: 10px 20px;
    font-size: 1.1rem;
}
section.find-A-Project div.container{
    margin: 0;
    padding: 0;
}

.find-A-Project p{
   margin: 15px;
}
.find-A-Project .row{
    margin-top: 5px;
}
.row select{
    background-color: transparent;
    text-align: left;
    color: rgb(204,204,204);
    font-size: 1rem;
    border: 2px solid rgb(204,204,204);
    border-radius: 5px;
    margin-right: 15px;
    padding: 10px 60px 10px 10px;
}
.a{
    display: none !important;
}
/* PROJECTS-GALLERY */
section.projects-gallery{
    padding:3.5%;
}
.project a{
    color: #000000;
    font-family: 'Montserrat', sans-serif;
}
.project a:hover{
    text-decoration: none;
}
.sub-project-container{
    margin: 5px;
}
.sub-project-container *{
    margin: 10px;
}
.sub-project-container img{
    width: 100%;
    margin: 0;

}
/* FOOOTER */
footer.footer{
   text-align: center;
   font-size: 2rem;
   padding-bottom:15px ;
   color:rgb(153,153,153);
}
footer a{
    color:rgb(153,153,153);
}
footer a:hover{
    background-color: rgb(153,153,153);
    color: #FFF;
}
footer p{
    display: inline;
}
.pressed {
    box-shadow: 0 3px 4px 0 #DBEDF3;
    opacity: 0.5;
  }



/* MEDIA QUERY */
/* MEDIUM SCREEN */
@media only screen and (max-width: 1000px){
    header{
        flex-direction: column;
    }
    div.date{
        display: none;
    }
    .language select{
        padding: 10px;
        width: 100%;
        position: relative;
        top:10px;
      }
      .navbar li{
        margin-right: 25px;
    }
     .row p{
        text-align: center;
        font-size: 1rem;
    }
    

}
.filter{
    display: none;
}

/* SMALL SCREEN */
@media only screen and (max-width: 770px) {
    header{
        flex-direction: column;
      
    }
    .logo hr{
        left:25px;
        top:-25px;
        
    }
    .logo .logo-link:hover{
        color: red !important;
    }
    .logo .logo-pic{
        height: 70%;
        font-size: 3rem;
        margin-right: 10px;
        color:#ffff00;
    }
    .navbar ul{
        position: relative;
        right: 70px;
        top:5px
    }
    .navbar li{
        margin-right: 30px;
    }
   li.large-menu{
       display: none;
  }
  .language{
      margin: 5px 5px;
  }
  div.date{
      display: none;
  }
  .language select{
    padding: 10px;
    width: 100%;
  }



}