*{
  margin: 0;
  padding: 0;  
}
header{
    background-color:  rgb(54,79,96);
    color: #ffffff;
    padding: 20px;
    font-size: 1.2rem;
}
.logo-pic{
    color: #000000;
    margin-right:10px;
    font-size: 2rem;
}
header span{
    position: relative;
    bottom: 7px;
}
/* ////MAIN SECTION */
section{
    margin: 5px;
}
main{
    display: flex;
    justify-items: center;
    background-color: rgb(1,146,73);
    padding: 5% 10%;
}
main form{
    /* padding: 2% 4%; */
    background-color: #ffffff;
    width: 50%;
    border-radius: 10px;
    margin-right: 5%;
   
}
label{
    font-weight:bold;
}
input,select{
    background-color: rgb(245,246,249);
    width: 100%;
    padding: 2%;
}

input:focus{
    outline: #000000;
}

.form-body{
    padding: 2% 5%;
}
.text-center{
    text-align: center;
}
h1.text-center{
    margin: 30px;
}
p.text-center{
    background-color: rgb(221,249,243);
    padding: 20px;
}
#show{
    position: relative;
    left: 70%;
}
input[name='age']{
    margin: 1%;
    display: inline;
    width: initial;
}
span.age{
    margin: 2%;
    padding: 5px 60px 5px 2px;
    border: 1px solid  black;
    border-radius: 5px;
}
button{
    width: 100%;
    padding: 2%;
    color: #ffffff;
    background-color: rgb(108,192,72);
}
button:hover{
    background-color: #332121;
}

main aside{
    width: 50%;
    position: relative;
    top: 30px;
    color: #ffffff;
}
.right,.left{
    display: flex;
    color: white;   
}
footer{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.2)

}


@media only screen and (max-width: 1000px) {
    main{
        display: flex;
        flex-direction: column;
        justify-items: center;
       
        padding: 5% 10%;
    }
    main form{
        order: 2;
        width: 100%;
       
    }
    main aside{
       order: 1;
       width: 100%;
       top: 0px;
    }

}